.body{
    width: 80%;
    font-size: 2vw;
    text-align: center;
}

.loader{
    height: calc(100vh + 200px);
    width: 100%;
    position: fixed;
    z-index: 50;
}

.loader svg{
    height: 100%;
    width: 100%;
}

.loader svg path{
    stroke: black;
    fill:white;
    stroke-width: 1px;
}